:root.theme-dark {
  --base-color: #F1B2CE;
  --base-background-color: #000028;
  --base-background-image: url(../images/cover-image-dark.png);
  --base-title-color: #DB00FF;
  --outline-color: rgba(255, 0, 112, 0.40);
  --title-decor-color: #000028;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --section-title-color: #FF0070;
}