:root.theme-light {
  --base-color: #353430;
  --base-background-color: #FFF1F7;
  --base-background-image: url(../images/cover-image-light.png);
  --base-title-color: #FFC2E6;
  --outline-color: rgba(50, 49, 45, 0.40);
  --title-decor-color: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --section-title-color: #353430;
}

.theme-light .decorated-zone__text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --base-color: #353430;
    --base-background-color: #FFF1F7;
    --base-background-image: url(../images/cover-image-light.png);
    --base-title-color: #FFC2E6;
    --outline-color: rgba(50, 49, 45, 0.40);
    --title-decor-color: #353430;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --section-title-color: #353430;
  }

  .decorated-zone__text {
    display: none;
  }
}